.container {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.circle {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-inline: auto;
    box-shadow: 0 0 20px #90caf9;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    background: #143F6B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

.btn:hover {
    background: #338ae1;
}

.timeInputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.inputBox label {
  font-size: 14px;
  color: #555;
}

.inputBox input {
  width: 80px;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.inputBox input:disabled {
  background: #f2f2f2;
  cursor: not-allowed;
}



.inputWrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.inputWrapper label {
    font-size: 14px;
    color: #555;
}

.input {
    width: 100px;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input:disabled {
    background: #f2f2f2;
    cursor: not-allowed;
}